@import '../../config/normalize.css';
@import '../../common/styles/index';

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.rt-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  .header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $PrimaryColor;
  }

  .menu-content {
    display: flex;
    flex: 1;
    flex-direction: row;

    .content {
      flex: 1;
      padding: 10px;
    }
  }
}